.top-content {
  height: calc(100% - 49px); // 49px is the height of "top-title"
}

@media (max-width: 768px) {
  .top-content {
    height: calc(100% - 83px); // 83px is the height of "top-title"
  }
}
