.my-spinner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  .my-spinner-text {
    display: block;
    margin-top: 10px;
  }
}
