.top-title {
  display: flex;
  flex-direction: column;
  .top-title__name {
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: normal;
    margin: 0 0 0.5rem;
    small {
      font-size: 0.8rem;
      margin: 0 0 0 0.5rem;
    }
  }
  .top-title__info {
    font-size: 0.8rem;
    line-height: 0.8rem;
    display: flex;
    flex-direction: row;
    margin: 0 0 0.5rem;
    span {
      margin: 0 1rem 0 0;
      b {
        margin: 0 0.5rem 0 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .top-title {
    .top-title__name {
      font-size: 1rem;
      line-height: 1rem;
      font-weight: normal;
      margin: 0 0 0.5rem;
      small {
        font-size: 0.6rem;
      }
    }
    .top-title__info {
      font-size: 0.7rem;
      line-height: 0.7rem;
      flex-direction: column;
      margin: 0;
      span {
        margin: 0 0 0.5rem;
      }
    }
  }
}
