.widget {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 0 7.5px 15px;
  .widget-title {
    margin: 0 0 0.5rem;
    padding: 0 0 0.5rem;
    border-bottom: 1px solid #ddd;
    font-weight: normal;
  }
  .widget-content {
    font-size: 0.85rem;
  }
}
