#root {
  height: 100%;
  width: 100%;
}

html,
body {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
  .app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    max-width: 720px;
  }
  .app-top-content {
    flex: 35%;
  }
  .app-bottom-content {
    flex: 65%;
    overflow-y: auto;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

@media (max-width: 768px) {
  .app {
    .app-top-content {
      flex: 40%;
    }
    .app-bottom-content {
      flex: 60%;
    }
  }
}
